<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <a th:href="@{/kelas/add-kelas}">Tambah</a>
    <table border="1">
        <thead>
            <tr>
                <th>Kelas</th>
                <th>Jurusan</th>
                <th>Angkatan</th>
                <th>Wali Kelas</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="k : ${kelas}">
                <td th:text="${k.tingkat}">Kelas</td>
                <td th:text="${k.jurusan}">Jurusan</td>
                <td th:text="${k.tahun_ajaran}">Angkatan</td>
               <td th:text="${k.guru != null ? k.guru.nama : 'Belum ditentukan'}">Wali Kelas</td>
                <td>
                    <a th:href="@{'/kelas/delete/' + ${k.id}}">Hapus</a>
                     <a th:href="@{/kelas/edit-kelas/{id}(id=${k.id})}">Edit</a>
                </td>

            </tr>
        </tbody>
    </table>
    <a th:href="@{/}"><button>Kembali</button></a>
    
</body>
</html>