<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Data Siswa</title>
</head>
<body>
    <h2>Edit Siswa</h2>
    <form th:action="@{/siswa/update}" th:object="${siswa}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <label>Nama:</label>
        <input type="text" th:field="*{nama}" /><br/>

        <label>NIS:</label>
        <input type="text" th:field="*{nis}" /><br/>

        <label>Kelas:</label>
        <input type="text" th:field="*{kelas}" /><br/>

        <label>Alamat:</label>
        <input type="text" th:field="*{alamat}" /><br/>
        
        <label for="jurusan">Jurusan:</label>
        <input type="text" id="jurusan" th:field="*{jurusan}"><br><br>

        <label>Jenis Kelamin:</label>
        <input type="radio" th:field="*{jenisKelamin}" value="L" id="lk">
        <label for="lk">Laki-laki</label>
        <input type="radio" th:field="*{jenisKelamin}" value="P" id="pr">
        <label for="pr">Perempuan</label><br><br>

        <label for="tanggalLahir">Tanggal Lahir:</label>
        <input type="date" id="tanggalLahir" th:field="*{tanggalLahir}"><br><br>

        <label for="tahunMasuk">Tahun Masuk:</label>
        <input type="date" id="tahunMasuk" th:field="*{tahunMasuk}"><br><br>

        <button type="submit">Simpan Perubahan</button>
    </form>
</body>
</html>
